[submodule "rl-kpi"]
	path = rl-kpi
	url = https://github.com/YKochura/rl-kpi.git
[submodule "cv-kpi"]
	path = cv-kpi
	url = https://github.com/YKochura/cv-kpi.git
[submodule "rnn-kpi"]
	path = rnn-kpi
	url = https://github.com/YKochura/rnn-kpi.git
[submodule "ac-kpi"]
	path = ac-kpi
	url = https://github.com/YKochura/ac-kpi.git
[submodule "ai-lab"]
	path = ai-lab
	url = https://github.com/YKochura/ai-lab.git
[submodule "ai-lec"]
	path = ai-lec
	url = https://github.com/YKochura/ai-lec.git
