[submodule "rl-kpi"]
	path = rl-kpi
	url = https://github.com/YKochura/rl-kpi.git
[submodule "cv-kpi"]
	path = cv-kpi
	url = https://github.com/YKochura/cv-kpi.git
[submodule "rnn-kpi"]
	path = rnn-kpi
	url = https://github.com/YKochura/rnn-kpi.git
[submodule "ac-kpi"]
	path = ac-kpi
	url = https://github.com/YKochura/ac-kpi.git
[submodule "ai-lab"]
	path = ai-lab
	url = https://github.com/YKochura/ai-lab.git
[submodule "ai-lec"]
	path = ai-lec
	url = https://github.com/YKochura/ai-lec.git
[submodule "mld-kpi"]
	path = mld-kpi
	url = https://github.com/YKochura/mld-kpi.git
[submodule "diss"]
	path = diss
	url = https://github.com/YKochura/diss.git
[submodule "ml-kpi"]
	path = ml-kpi
	url = https://github.com/YKochura/ml-kpi.git
[submodule "nn-kpi"]
	path = nn-kpi
	url = https://github.com/YKochura/nn-kpi.git
[submodule "nns-kpi"]
	path = nns-kpi
	url = https://github.com/YKochura/nns-kpi.git
